*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

    font-family: 'Nunito',sans-serif;
    color: #242322;
}

.site
{
    display: none;
}

.info
{
    font-size: calc(1.5vw + 1rem);
    text-align: center;
    max-width: 500px;
    margin: 20% auto;

}

.js .site 
{
    display: block;
}

.js .info 
{
    display: none;
}

html
{
    --cor01:#141515;
    --cor02:#202021;
    --cor03:#4F5154;
    --cor04:#474644;
    --cor05:#CE8C03;
    --cor06:#F1B843;
    --cor07:#F5EEE0;

    font-size: 62.5%;
}

html,body 
{
    background-color: var(--cor07);
    overflow-x: hidden;
    height: fit-content;
}

main
{
    opacity: 0;
    padding-top: 60px;
    transition: 1.5s;
}

main.active
{
    opacity: 1;
    padding-top: 0;
}

img 
{
    max-width: 100%;

}

button
{
    background-color: transparent;
    border: none;
}

.title
{
    font-size: calc(2vw + 1rem);
    letter-spacing: 4px;
    font-weight: 400;
    text-transform: uppercase;
    width: fit-content;
    margin: 6rem auto 3rem;
    position: relative;
}

.title::before
{
    content: "";
    background-color: var(--cor05);
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    top: 90%;
    transition: width 1s ease-out;
    border-radius: 2px;
}

.title.active::before
{
    width: 100%;
}

.dest
{
    font-weight: bold;
    color: var(--cor05);
}

.menu-mobile
{
    display: none;
    background-color: var(--cor07);
    width: 20px;
    height: 4px;
    cursor: pointer;
    position: relative;
    transition: .4s;

}

.menu-mobile::after
{
    content: "";
    display: inline-block;
    background-color: var(--cor07);
    width: 20px;
    height: 4px;
    cursor: pointer;
}

.menu-mobile::before
{
    content: "";
    display: inline-block;
    background-color: var(--cor07);
    width: 20px;
    height: 4px;
    cursor: pointer;
    position: absolute;
    top: -6px;
}


[data-mobile="open"]
{
    display: none;
    background-color: var(--cor07);
    width: 20px;
    height: 4px;
    cursor: pointer;
    position: relative;
    transform: rotate(45deg);
    transition: .4s;
}

[data-mobile="open"]::after
{
    display: none;
}

[data-mobile="open"]::before
{
    content: "";
    display: inline-block;
    background-color: var(--cor07);
    width: 20px;
    height: 4px;
    cursor: pointer;
    position: absolute;
    top: 0;
    transform: rotate(90deg);
}

[data-menuitem]
{
    background-color: var(--cor02);
    padding: 1rem 1.5rem;
    margin-left: 1rem;
    border-radius: 4px;
    position: absolute;
    visibility: hidden;
}

[data-menuitem="open"]
{
    display: inline-block;
    position: static;
    visibility: visible;
    animation: 1s menu forwards;
}

@keyframes menu 
{
    from 
    {
        opacity: 0;
        transform: translate3d(-30px,0,0);
    }
    to
    {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

[data-menuitem] button
{
    background-color: var(--cor05);
    padding: .5rem;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    color: var(--cor07);
    text-transform: uppercase;
    font-weight: bold;
}

[data-menuitem] button.active 
{
    background-color: var(--cor03);
}

[data-menuitem] button:nth-child(2)
{
    margin: 0 1rem;
}

[data-menuitem] button:hover 
{
    transform: scale(1.05);
}

.under 
{
    position: relative;
    cursor: default;
}

.under::after
{
    content: "";
    background-color: var(--cor05);
    width: 0;
    height: 2px;
    position: absolute;
    top: 90%;
    left: 0;
    transition: width .4s ease-out;
    border-radius: 2px;
}

.under:hover::after
{
    width: 100%;
}

[data-type]
{
    animation: 1s animaWrap forwards;
}

[data-disptype]
{
   visibility: hidden;
   position: absolute;
   opacity: 0;
   top: -100%;
   transition: .4s;
}

[data-disptype="column"]
{
   visibility: visible;
   position: static;
   opacity: 1;
}


[data-disptype="slide"].active
{
    visibility: visible;
    position: static;
    opacity: 1;
}

[data-anima="left"]
{
    animation: left 1s forwards;
}

[data-anima="right"]
{
    animation: right 1s forwards;
}

@keyframes animaWrap
{
    from
    {
        opacity: 0;
        transform: translate3d(0,30px,0);
    }
    to
    {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

@keyframes left
{
    from
    {
        opacity: .8;
        transform: translate3d(30px,0,0);
    }
    to
    {
        opacity: 1;
        transform: translate3d(0,0,0);
   
    }
}

@keyframes right
{
    from
    {
        opacity: .8;
        transform: translate3d(-30px,0,0);
    }
    to
    {
        opacity: 1;
        transform: translate3d(0,0,0); 
    }
}



/* HEADER */

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
    padding: 1.5rem 6rem;
    background-color: var(--cor02);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.37);
    z-index: 2;
}

header img 
{
    min-width: 60px;
}

.nav-menu
{
    display: flex;
    align-items: center;
}

.nav-menu li:nth-child(2)::after,
.nav-menu li:nth-child(2)::before
/* .nav-menu li:nth-child(3)::after */
{
    content: "";
    display: inline-block;
    background-color: var(--cor07);
    width: 10px;
    height: 4px;
    border-radius: 2px;
    margin: 5px 10px;
    
}

.nav-menu a 
{
    font-size: calc(.6vw + 1rem);
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--cor07);
    padding-bottom: .5rem;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}

/* HOME */

#home 
{
    background-color: var(--cor03);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.219);
    padding: 6rem;
}


#home h1,
#home h3 
{
    text-align: center;
    font-weight: 400;
    color: var(--cor07);
    position: relative;
}

#home h1
{
    font-size: calc(5vw + 1rem);
    z-index: 1;
}

#home h1::after,
#home h3::after
{
    content: "|";
    animation: .5s barAnima infinite;
}

@keyframes barAnima {
    from
    {
        opacity: 0;
    }
    to 
    {
        opacity: 1;
    }
}

#home img 
{
    opacity: 0;
    transition: .4s;
    position: absolute;
    top: 0;
    left: 60%;
    z-index: -1;
}

#home h1.active img
{
    opacity: 1;
} 

#home h1.active::after,
#home h3.active::after

{
    content: "";
}

#home h3 
{
    font-size: calc(1vw + 1rem);
    width: fit-content;
    margin: 0 auto;

}

#home h3::before
{
    content: "";
    background-color: var(--cor05);
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    top: 90%;
    transition: width 1s ease-out;
}

#home h3.active::before
{
    width: 100%;
}

/* SOBRE */

#sobre,#conhecimento,#contato
{
    font-size: calc(1vw + 1rem);
    padding: 0 6rem;
}

.sobre-grid
{
    display: block;
    max-width: 800px;
    margin: 0 auto;
}

#sobre p, #sobre a
{
    text-indent: 3rem;
    margin-bottom: .5rem;
}

#sobre button
{
    font-size: calc(1vw + 1rem);
    margin: 0;
    margin-left: 3rem;
    height: fit-content;
    cursor: pointer;
}

#sobre button img 
{
    margin-right: .5rem;
}

[data-copy]
{
    position: relative;
}

[data-copy].active::after 
{
    display: block;
    content: "Email copiado";
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 10px;
    background-color: var(--cor07);
    width: 200px;
    height: 30px;
    border-bottom: 4px solid var(--cor05);
    position: absolute;
    left: 40px;
    animation: left .5s;
}

@keyframes left 
{
    from
    {
        opacity: 0;
        transform: translate3d(30px,0,0);
    }
    to 
    {
        opacity: 1;
        transform: translate3d(0,0,0);

    }
}

#sobre a 
{
    text-indent: 0;
    margin: 0;
    margin-left: 3rem;
    margin-bottom: 3rem;
    width: fit-content;
    cursor: pointer;
}

.link-sob
{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 1.5rem auto 0;
    
}

.sobre-grid li
{
    margin-top: 1rem;
    text-indent: 3rem;
}

.sobre-grid li::before
{
    content: "";
    display: inline-block;
    background-color: var(--cor05);
    width: 24px;
    height: 4px;
    margin: .5rem;
    border-radius: 2px;
}

/* CONHECIMENTOS */

.grid-conhec
{
    display: grid;
    grid-template-columns: 1fr 2px 1fr;
    justify-items: center;
    gap: 3rem;
    margin: 0 auto;
    max-width: 900px;
}

.linha
{
    background-color: #ddc;
    width: 100%;
    border-radius: 2px;
}

.grid-conhec li 
{
    margin-bottom: 1.5rem;
}

/* PROJETOS */

#projetos
{
    padding: .5rem 3rem;
    margin-top: 6rem;
    background-color: var(--cor03);
    position: relative;
}

#projetos h2, .opt-text
{
    color: var(--cor07);
}

.wrap-item
{
    margin: 0 auto;
    max-width: 90%;
}

.options
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.opt-text 
{
    font-size: calc(1vw + 1rem);
    margin-right: 1rem;
}

.menu-burguer
{
    display: inline-block;
    background-color: var(--cor07);
    width: 20px;
    height: 4px;
    cursor: pointer;
    position: relative;
    transition: .4s;
}

.menu-burguer::after
{
    content: "";
    display: inline-block;
    background-color: var(--cor07);
    width: 20px;
    height: 4px;
    cursor: pointer;
}

.menu-burguer::before
{
    content: "";
    display: inline-block;
    background-color: var(--cor07);
    width: 20px;
    height: 4px;
    cursor: pointer;
    position: absolute;
    top: -6px;
}

[data-menu="open"]
{
    transform: rotate(45deg);
    transition: .4s;
}

[data-menu="open"]::after
{
    display: none;
}

[data-menu="open"]::before
{
    transform: rotate(90deg);
    top:0;
}

.btn-type
{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-type:hover
{
    box-shadow: 4px 4px 8px #4746440c;
    transform: scale(1.05);
}

.grid-item 
{
    display: grid;
    grid-template-columns: auto 1.5fr;
    gap: 6rem;
    background-color: var(--cor07);
    padding: 3rem;
    border-radius: 4px;
    margin-bottom: 3rem;
    overflow-x: auto;
}

.grid-item a 
{
    display: block;
}

.img-item img 
{
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.219);
    transition: .4s;
}

.img-item img:hover 
{
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.219);
    transform: scale(1.05);
}

.desc-item
{
    font-size: calc(1vw + 1rem);
}

.title-item
{
    font-weight: bold;
    color: var(--cor04);
    margin-bottom: .5rem;
}

.desc-item p 
{
    text-indent: 1.5rem;
    max-width: 500px;
    margin-bottom: 1rem;
}

.desc-item > a {
  font-size: calc(.5vw + 1rem);
  margin-top: 1rem;
  width: fit-content;
  cursor: pointer;
}

.tag-wrap
{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-left: 1.5rem;
}

.tag 
{
    font-size: calc(.8vw + 1rem);
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--cor06);
    width: fit-content;
    padding: .5rem 1rem;
    border-radius: 6px;
    transition: .2s;
    cursor: default;
}

.tag:hover 
{
    transform: scale(1.05);
}

.arrow-left.active
{
    border-right: 30px solid var(--cor06);
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
    position: absolute;
    left: 5px;
    top: 55%;
    cursor: pointer;
}

.arrow-left.active:hover
{
    border-right-color:var(--cor05);
}

.arrow-right.active
{
    border-left: 30px solid var(--cor06);
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
    position: absolute;
    right: 5px;
    top: 55%;
    cursor: pointer;
}

.arrow-right.active:hover 
{
    border-left-color: var(--cor05) ;
}

/* FOOTER */

footer
{
    background-color: var(--cor02);
    padding: 3rem 0;
}

footer a.under
{
    display: block;
    font-size: calc(.8vw + 1rem);
    font-weight: bold;
    color: var(--cor07);
    width: fit-content;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
}

/* RESPONSIVO */

@media (max-width:980px)
{
    #home img 
    {
        
     width: 100px;
     left: 62%;
    }

    .grid-item 
    {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 1.5rem;
        padding: 1.5rem;
    }

}

@media (max-width:780px)
{
    header,#home,#sobre,#conhecimento,#contato
    {
        padding-left: 3rem;
        padding-right: 3rem;
    }

        
    .title
    {
        margin: 3rem auto 1.5rem;
    }


    #home img 
    {
        
     width: 80px;
     left: 62%;
    }

    .mobile-text 
    {
        font-size: calc(.5vw + 1rem);
        color: var(--cor07);
        text-transform: uppercase;
        position: absolute;
        left: -50px;
        top: -5px;
    }

    .menu-mobile,[data-mobile="open"]
    {
        display: inline-block;
    }
    
    [data-mobileitem]
    {
        display: block;
        background-color: var(--cor02);
        padding: 1rem;
        box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.2);
        visibility: hidden;
        position: absolute;
        top: 14%;
        right: 5%;
        z-index: 3;
    }

    [data-mobileitem] li 
    {
        margin-bottom: 1rem;
    }

    [data-mobileitem]  a::after
    {
        width: 100%;
    }

    [data-mobileitem] li::after,
    [data-mobileitem] li::before
    {
        display: none;
        visibility: hidden;
        position: absolute;
    }

    [data-mobileitem="open"]
    {
        visibility: visible;
        animation: .5s mobileAnima forwards ease-out;
    }

    @keyframes mobileAnima
    {
        from
        {
            transform: translate3d(0,-30px,0);
            opacity: 0;
        }
        to 
        {
            transform: translate3d(0,0,0);
            opacity: 1;
        }
    }

    #sobre a 
    {
        margin-bottom: 1.5rem;
    }

    .sobre-grid li::before
    {
        width: 12px;
        margin: .6%;
    }

    .grid-conhec
    {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2px 1fr;
        justify-items: flex-start;
        padding: 0 3rem;
        gap: 0;       
    }

    .grid-conhec li 
    {
        margin-top: 1.5rem;
    }

    
    .tag-wrap
    {
        flex-wrap: wrap;
    }

}

@media (max-width:640px)
{
    #home img 
    { 
     width: 70px;
     left: 64%;
    }

}

@media (max-width:540px)
{
    #home img 
    { 
     width: 60px;
     left: 64%;
    }

    [data-menuitem="open"]
    {
        position: absolute;
        margin-top: 3rem;
        left: 40px;
        z-index: 4;
    }

}

@media (max-width:420px)
{
    #home img 
    { 
     width: 50px;
     left: 66%;
    }
}


@media (max-width:320px)
{
    #home img 
    { 
     width: 40px;
     left: 68%;
    }
}